{# twig template file
 # Author: Joris Rietveld <jorisrietveld@gmail.com>
 # Created: 07-21-2016 14:09
 #}

{%  extends 'SiteBundle::AhismaTheme.html.twig' %}

{% block pageContent %}
    <h1>Contact en boeken</h1>
    {{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="col-lg-12">
        <div class="col-lg-6">
            {{ form_label(form.name) }}
            {{ form_errors(form.name) }}
            {{ form_widget(form.name) }}
        </div>
    </div>

    <div class="col-lg-12">
        {{ form_label(form.email) }}
        {{ form_errors(form.email) }}
        {{ form_widget(form.email) }}
    </div>

    <div class="col-lg-12">
        {{ form_label(form.telephone) }}
        {{ form_errors(form.telephone) }}
        {{ form_widget(form.telephone) }}
    </div>

    <div class="col-lg-12">
        {{ form_label(form.message) }}
        {{ form_errors(form.message) }}
        {{ form_widget(form.message) }}
    </div>

    <div>
        {{ form_widget(form.save) }}
    </div>

    {{ form_end(form) }}
{% endblock %}